---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="À propos">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Je m’appelle Simon, je suis étudiant en France et passionné par l’informatique.
        <br />
        Je crée des outils sur mesure et j’aime comprendre comment les systèmes fonctionnent.
        <br />
        Outils que j’utilise souvent :
      </p>
      <ul class="list-disc list-inside">
        <li>Blender</li>
        <li>Python</li>
        <li>Java</li>
        <li>Typescript</li>
        <li>BlockBench</li>
        <li>Monkey C</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      J’aime expérimenter, optimiser, et bidouiller pour qu’un ordinateur ou un logiciel réponde exactement à un besoin.
    </p>
    <p class="text-sm font-light">
      En dehors de l’informatique, je fais de la course longue distance — j’ai notamment bouclé un 100 km sur piste.
    </p>
  </div>
</Card>
