---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";

---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">Bienvenue</h6>
        <p class="m-0 font-light text-xl">
          Bonjour, je suis <b class="font-bold">Simon</b> (aka <b class="font-bold">CasquetteRouge</b>).
          <br/>
          Étudiant, créateur de contenu et ultra-marathonien, je suis passionné par le dépassement de soi, que ce soit sur la piste ou devant un écran.
        </p>
      </div>
      <div class="flex gap-4 flex-wrap">
        <a aria-label="instagram profile" href={LINKS.instagram} target="_blank">
          <Button aria-label="instagram profile">
            <Icon class="h-6" name="ri:instagram-fill" />
            <span class="sr-only">Instagram Profile</span>
          </Button>
        </a>
        <a aria-label="strava profile" href={LINKS.strava} target="_blank">
          <Button aria-label="strava profile">
            <Icon class="h-6" name="simple-icons:strava" />
            <span class="sr-only">Strava Profile</span>
          </Button>
        </a>
        <a aria-label="fiverr profile" href={LINKS.fiverr} target="_blank">
          <Button aria-label="fiverr profile">
            <Icon class="h-6" name="simple-icons:fiverr" />
            <span class="sr-only">Fiverr Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon class="h-6" name="ri:emotion-laugh-line" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
  </div>
</Card>
